UCSD_USERNAME=
UCSD_PASSWORD=
WIFI_SSID=YOUR_NETWORK_NAME
NON_ENTERPRISE_WIFI_PASSWORD=YOUR_NETWORK_PASSWORD
MQTT_BROKER=broker.emqx.io
MQTT_CLIENT_ID=thermal-sensor-01
MQTT_TOPIC=thermal-presence/YOUR_UNIQUE_TOPIC
